.logo {
    color: teal;
    font-size: 80px;
    text-align: center;
}

body {
    background: teal;
}

.intro {
    text-align: center;
    
}

.intro p{
    font-size: 30px;

}

dt{
    text-indent: -500px;
    height: 25px; 
    width: 200px;
}

.photo-women {
    height: 200px;
}
