<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BLOCK TITLE GOES HERE{% endblock %}</title>
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="static/styles.css">
        </head>
        <body>
            <nav class="navbar navbar-inverse">
                {% if session['user_id'] is not defined %}
                    <button type="button" class="btn btn-default navbar-btn sign-in-btn col-xs-offset-10"><a href="/login">Sign in</a></button>
                    <button type="button" class="btn btn-default navbar-btn register-btn"><a href="/register">Register</a></button>
                {% endif %}
                <div class='logo'>Report@Work</div>
                {% if session['user_id'] is defined %}
                    <button type="button" class="btn btn-default navbar-btn sign-in-btn logout-btn col-xs-offset-10">Logout</button>
                {% endif %}
                
                
            </nav>
            <!--  {% for message in get_flashed_messages() %}
                {{ message }}
            {% endfor %} -->
            {% block content %} CONTENT IS HERE {% endblock %}
        </body>
         <script src="/static/incidents.js"></script>
    </html>