<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}BLOCK TITLE GOES HERE{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        
        <div class="nav-bar">
        <!-- <div class="login">
            <button type="button"></button></div> -->
        </div>
    {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    {% block content %} CONTENT IS HERE {% endblock %}
</body>
</html>