{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="intro">
        <p>Welcome to Report@Work.</p>
        <p>Your safe, personal, and anonymous connection to HR</p>
        
        <img src="/static/img/women.jpg" class="myslides">
        <p>1 in 3 Women will face sexual harrassment in the workplace</p>
        <p>29% of victims will report it</p>
        <p>Let's change the 71% that don't feel comfortable reporting these unwanted actions</p>
        </div>

           
    {% endblock %}