{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="intro">
        <p>Welcome to Report@Work.</p>
        <p>Your safe, personal, and anonymous connection to HR</p>
        
            <div class="gallery autoplay items-3">
                <div id="item-1" class="control-operator"></div>
                <div id="item-2" class="control-operator"></div>
                <div id="item-3" class="control-operator"></div>
                <figure class="item">
                <img src="/static/img/women.jpg" class="photo-women"></div>
            </figure>
            <!-- <figure class="item">
                <img src="/static/img/women.jpg" class="photo-women">
            </figure>
            <figure class="item">
                <img src="/static/img/women.jpg" class="photo-women">
            </figure> -->
            <div class="controls">
                <a href="#item-1" class="control-button">•</a>
                <a href="#item-2" class="control-button">•</a>
                <a href="#item-3" class="control-button">•</a>
            </div>
        </div>
        
    </div>
{% endblock %}