{% extends 'base.html' %}
{% block title %}Please register{% endblock %}
{% block content %}



<div class="register-form">
    <h1>New Users,</h1>
     <h1>Please Register</h1>
    <form action='/user/create' id="login-form" method="POST">
        <label>Username: 
            <input type="text" id="username" name="username"></input></label><br>
            <div id="error-username"></div>
        <label>Password: 
            <input type="password" id="password-length" name="password"></input></label><br>
            <div id="error-password"></div>
        <label>Are you a HR representative?: 
            <input type="radio" name="user-type" value="hr">Yes
            <input type="radio" name="user-type" value="user">No</br>
        <input type="submit" class="submit-btn" value="Register Me">
    </form>
</div>

{% endblock %}